@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a::selection, p::selection, li::selection, img::selection, h3::selection{
    background-color: #FA4EAB;
    color: white;
}
.dropdown:hover .dropdown-menu{
    display: block;
}

@media screen and(min-width: 750px){
    .dropdown:hover .dropdown-menu{
        display: block;
    }

}
.d-flex button{
    background-color: #FA4EAB;
    color: white;

}
.d-flex button:hover{
    background-color: #FE83C6;
}
li {
    font-family: 'Roboto';
    margin: 5px;
    font-weight: 600;
    font-size: 16px;
}
.d-flex input{
    padding: 0;
}
.navigation-bar .text-logo{
    font-family: 'Sacramento';
    font-weight: 600;
    font-size: 30px;
    position: relative;
    top: 6px;
    margin: 5px 10px;
    color: black;
    text-decoration: none;
}
.navigation-bar .text-logo:hover{
    color: #92A9BD;
}
.nav-right a{
    color: grey;
    text-decoration: none;
    position: relative;
    right: 40px;
    font-size: 16px;
}
.nav-right a:hover{
    color: #92A9BD;
}
.nav-right button{
    padding: 10px 16px;
    color: white;
    border-radius: 10px;
    background-color: #FA4EAB;
    border: none;
    font-weight: 600;
    position: relative;
    top: 0px;
    right: 30px;
}
.nav-right button:hover{
    background-color: #FE83C6;
}
.nav-right img{
    width: 30px;
    height: 30px;
    filter: invert(0.5);
}
.dropdown-icons li img{
    width: 20px;
    height: 20px;
    margin: 10px 10px;
}
/* ============main body */
.main-body {
    width: 60%;
    text-align: center;
    margin: 10rem auto;
}
.main-body img{
    float: left;
}